@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display+SC:wght@900&display=swap');

body {
    font-family: 'Playfair Display SC', serif;
    font-weight: 300;
}

h1 {
    font-size: 80px;
    color: #12FF00;
    position: relative;
}

#links {
    text-align: right;
}

#links a {
    color: aquamarine;
    display: block;
    text-decoration: none;
}

#links a:hover {
    color: black;
    display: block;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

#mecca {
    height: 300px;
    width: auto;
    background: url('../images/mecca.jpg') no-repeat center center;
    background-size: 100%;
    border: 10px solid #00BB9D;
    background-color: #006D89;
}