@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display+SC:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Playfair Display SC', serif;
    font-weight: 100;
}

p {
    font-family: 'Alice', serif;
    font-size: large;
    text-align: left;
}

/* header index */
.mecca {
    height: 300px;
    width: auto;
    background: url('../images/mecca.jpg') no-repeat center center;
    background-size: 100%;
    border: 15px solid #00BB9D;
    background-color: #006D89;
}

.mecca h1 {
    font-size: 60px;
    color: black;
    position: relative;
    margin-left: 15px;
}

/* nav bar */
#navlink {
    letter-spacing: 3px;
    font-size: 100%;
}

nav ul {
    float: right;
}

nav li {
    display: inline-block;
    margin-top: 58%;
    margin-right: 12px;
}

#navlink a {
    color: whitesmoke;
    background-color: #038900;
    text-decoration: none;
}

#navlink a:hover {
    color: #891C00;
}

/* Index */
.islam {
    height: auto;
    width: auto;
}


#moon img {
    width: 100%;
    height: 100%;
}

#moon {
    background-color: #00BB9D;
    border-color: transparent;
    margin: 12px 12px 12px 12px;
}

.intro1 {
    height: 250px;
    width: auto;
    border: 15px solid;
}

.one {
    height: 100%;
}

.intro1 .first {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

#moon i {
    color: #038900;
}

.intro1 .green {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

.intro1 .second {
    text-align: center;
}

#finger {
    background-color: #006D89;
    border-color: transparent;
    margin: 12px 12px 12px 12px;
}

#finger img {
    width: auto;
    height: 100%;
}

.intro1 .yellow {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

#finger i {
    color: #E3EC00;
}

.testim li {
    background-color: #ABB10C;
    color: whitesmoke;
    text-align: justify;
    margin: 5px 60px 5px 60px;
}

#mat img {
    width: auto;
    height: 100%;
}

#mat {
    background-color: #00BB9D;
    border-color: transparent;
    margin: 12px 12px 12px 12px;
}

.intro1 .purple {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

#mat i {
    color: #89007F;
}

.intro1 .red {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

#stop i {
    color: #891C00;
}

#stop {
    background-color: #006D89;
    border-color: transparent;
    margin: 12px 12px 12px 12px;
}

#stop img {
    width: auto;
    height: 100%;
}

.intro1 .gold {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

#cash i {
    color: #897200;
}

#cash img {
    width: auto;
    height: 100%;
}

#cash {
    background-color: #00BB9D;
    border-color: transparent;
    margin: 12px 12px 12px 12px;
}

.intro1 .white {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

#kaaba i {
    color: whitesmoke;
}

#kaaba {
    background-color: #006D89;
    border-color: transparent;
    margin: 12px 12px 12px 12px;
}

#kaaba img {
    width: auto;
    height: 100%;
}

footer .one {
    height: auto;
    background-color: #00BB9D;
    border: 15px solid #006D89;
}

/* end first */

/* mohammad */
#medina h1 {
    font-size: 60px;
    color: black;
    position: relative;
    margin-left: 15px;
}

.moh p {
    font-family: 'Alice', serif;
    font-size: large;
    text-align: left;
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 17px;
}

.moh {
    height: auto;
    width: auto;
    border: solid;
}


#medina {
    height: 300px;
    width: auto;
    background: url('../images/medina.png') no-repeat center center;
    background-size: 100%;
    border: 15px solid #00BB9D;
    background-color: #006D89;
}

.intro2 {
    height: 250px;
    width: auto;
    border: 15px solid;
}

.intro2 .green {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

.intro2 .second {
    text-align: center;
}

#way i {
    color: #038900;
}

#way img {
    width: auto;
    height: 100%;
}

#way {
    height: 100%;
    background-color: #00BB9D;
    border-color: transparent;
    margin: 12px 12px 12px 12px;
}

footer .two {
    height: auto;
    background-color: #00BB9D;
    border: 15px solid #006D89;
}

/* end second */

/* Prayers */

#pray h1 {
    font-size: 60px;
    color: black;
    position: relative;
    margin-left: 15px;
}

#pray {
    height: 300px;
    width: auto;
    background: url('../images/pray.jpg') no-repeat center center;
    background-size: 100%;
    border: 15px solid #00BB9D;
    background-color: #006D89;
    border-radius: 3px;
}

.pray {
    height: auto;
    width: auto;
}

.intro3 {
    height: 250px;
    width: auto;
    border: 15px solid;
}

.intro3 .green {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

.intro3 .second {
    text-align: center;
}

#kneel img {
    width: auto;
    height: 100%;
}

#kneel {
    background-color: #00BB9D;
    border-color: transparent;
    margin: 12px 12px 12px 12px;
    border-radius: 3px;
}

.intro3 {
    height: 250px;
    width: auto;
    border: 15px solid;
}

.intro3 .yellow {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

.intro3 .second {
    text-align: center;
}

#ett {
    background-color: #006D89;
    border-color: transparent;
    margin: 12px 12px 12px 12px;
    border-radius: 3px;
}

#ett img {
    width: auto;
    height: 100%;
    padding-right: 12px;
}

.intro3 {
    height: 250px;
    width: auto;
    border: 15px solid;
}

.intro3 .purple {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

.intro3 .second {
    text-align: center;
}

#tvo img {
    width: auto;
    height: 100%;
    padding-right: 12px;
}

#tvo {
    background-color: #00BB9D;
    border-color: transparent;
    margin: 12px 12px 12px 12px;
    border-radius: 3px;
}

.intro3 {
    height: 250px;
    width: auto;
    border: 15px solid;
}

.intro3 .brown {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

.intro3 .second {
    text-align: center;
}

#tre {
    background-color: #006D89;
    border-color: transparent;
    margin: 12px 12px 12px 12px;
    border-radius: 3px;
}

#tre img {
    width: auto;
    height: 100%;
    padding-right: 12px;
}

.intro3 {
    height: 250px;
    width: auto;
    border: 15px solid;
}

.intro3 .gold {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

.intro3 .second {
    text-align: center;
}

#fyra img {
    width: auto;
    height: 100%;
    padding-right: 12px;
}

#fyra {
    background-color: #00BB9D;
    border-color: transparent;
    margin: 12px 12px 12px 12px;
    border-radius: 3px;
}

.intro3 {
    height: 250px;
    width: auto;
    border: 15px solid;
}

.intro3 .white {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

.intro3 .second {
    text-align: center;
}

#fem {
    background-color: #006D89;
    border-color: transparent;
    margin: 12px 12px 12px 12px;
    border-radius: 3px;
}

#fem img {
    width: auto;
    height: 100%;
    padding-right: 12px;
}

#sex {
    background-color: #00BB9D;
    border-color: transparent;
    margin: 12px 12px 12px 12px;
    text-align: center;
    border-radius: 3px;
}

#sex p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 12px;
}

#sex .ameen p {
    font-size: 14px;
    padding-bottom: 0px;
    padding-top: 2px;
}


.salat {
    block-size: inherit;
}

footer .three {
    height: auto;
    background-color: #00BB9D;
    border: 15px solid #006D89;
}

/* end third */

/* social media links behavior */
.socialn {
    text-align: center;
    
    

}    

.socialn li {
    display: inline;
}    

.socialn i {
    font-size: 200%;
    margin: 1%;
    padding: 1%;
    color: black;
}    

.socialn i:hover {
    color: #006D89;
}    

/* Responsiv part starts here */

/* nav link responsive resize to fit screen */
@media screen and (max-width: 396px) {
    #navlink {
        font-size: 75%;
        margin-top: 10%;
    }
}

@media screen and (max-width: 324px) {
    #navlink {
        font-size: 65%;
        margin-top: 10%;
    }
}

/* text change with decreasing size of screen mohammad */
@media screen and (max-width: 525px) {
    #medina h1 {
        font-size: 40px;
    }
}

/* text change to over flow for two places */
@media screen and (max-width: 520px) {
    #tvo {
        overflow: scroll;
    }

    #fem {
        overflow: scroll;
    }
}

@media screen and (max-width: 389px) {
    #tre {
        overflow: scroll;
    }

    #fyra {
        overflow: scroll;
    }
}

/* icons resize on responsive */
@media screen and (max-width: 349px) {
    .fa-solid {
        font-size: 70%;
    }
}




